# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:
-List popular languages for Data Science
-Commonly used libraries used by Data Scientists
-Few examples of evaluating arithmetic expressions in Python

## Author
Gabriel Rodr√≠guez Ulate

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow

|Data Science Tools|
----------------------------
|Jupyter Notebook|
|RStudio|
|Spyder|

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200 / 60

3.3333333333333335